* {
  margin: 0;
  padding: 0;

}

.container{
  overflow: scroll;
}

html{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  height: 2854px;
  width: 1600px;
}

.headcontainer{
  width: 1600px;
  position: fixed;
  border-bottom: 1px solid seashell;
  background-color: black;
  z-index: 10;
}

.header{
  height: 69px;
  display: flex;
  justify-content:space-between;
  margin-left:10px;
  margin-right: 10px;
  align-items: center;
}

.headerleft{
  display:inline-flex;
}

.headerright ul{
  width: 350px;
  display:inline-flex;
  justify-content: space-between;
}

.headerright a{
  color: seashell;
}

.headerright li{
  list-style: none;
}

.content{
  position: relative;
  top:70px;
}

#Mission{
  width: 1600px;
}

.MissionImage {
  width: 1200px;
  height: 700px;
  background-image: url("///Users/carolmartin/Desktop/projects/tea-cozy/resources/images/img-mission-background.jpg");
  display: inline-flex;
  align-items:center;
}

.Missionbanner{
  padding: 10px;
  background-color: black;
  width:1200px;
  height: auto;
}

.Missionbanner h2{
  padding-bottom: 20px;
}
