* {
  margin: 0;
  padding: 0;

}

.container{
  overflow: scroll;
}

html{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  height: 2854px;
  width: 1600px;
}

.headcontainer{
  width: 1600px;
  position: fixed;
  border-bottom: 1px solid seashell;
  background-color: black;
  z-index: 10;
}

.header{
  height: 69px;
  display: flex;
  justify-content:space-between;
  margin-left:10px;
  margin-right: 10px;
  align-items: center;
}

.headerleft{
  display:inline-flex;
}

.headerright ul{
  width: 350px;
  display:inline-flex;
  justify-content: space-between;
}

.headerright a{
  color: seashell;
}

.headerright li{
  list-style: none;
}

.content{
  position: relative;
  margin-top: 70px;
}

h2{
  padding-top: 10px;
  padding-bottom: 15px;
}

h4{
  padding: 5px 5px;
}

#Mission{
  width: 1600px;
}

.MissionImage {
  width: 1200px;
  height: 700px;
  background-image: url("../images/img-mission-background.jpg");
  display: inline-flex;
  align-items:center;
}

.Missionbanner{
  background-color: black;
  width:1200px;
  height: auto;
}

#FeaturedTea{
  margin: 0 auto;
  padding-top: 70px;
  width: 1000px;
}

.FeaturedTeaSection{
  margin: 0 auto;
  padding-top: 10px;
}

.column{
  margin: 0;
  display: inline-flex;
  flex-direction: column;
}

.row{
  margin: 0;
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.row h4{
  width: 300px;
}

.image-sizes{
  width: 300px;
  height: 200px;
  padding: 5px 5px;
}

#Location{
  width: 1600px;
  margin: 0 auto;
  padding-top: 70px;
}

.LocationSection{
  width: 1200px;
  height: 500px;
  background-image: url("../images/img-locations-background.jpg");
  display: inline-flex;
  flex-direction: column;
  align-items:center;
}
